.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.item img {
  height: auto;
  width: auto;
}

.item p {
 margin: 5px 0;
 padding: 0;
 text-align: center;
}
