.ancestor{
    background-color: orange;
    width: 800px;
    padding: 20px;
}

.child{
    background-color: skyblue;
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.progeny1{
    background-color: #ccc;
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.progeny2{
    background-color: #555;
    width: 100%;
    margin: 10px;
    padding: 20px;
}